.schedule {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 2vw;

  .event-row {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    @media screen and (max-width: 639px) {
      gap: 15px;
      margin-left: 40px;
    }
  }

  @media screen and (max-width: 639px) {
    .event-row,
    .event-title {
      font-size: 25px;
    }
  }
}

.time {
  font-size: 34px;
  min-width: 60px;

  @media screen and (max-width: 639px) {
    font-size: 25px;
    min-width: 50px;
  }
}

.icon {
  width: 55px;

  @media screen and (max-width: 639px) {
    width: 40px;
  }
}

.event-info {
  display: flex;
  flex-direction: column;
}

.event-title {
  font-size: 34px;
}

.event-description {
  font-family: "light";
  font-size: 18px;
  line-height: 28px;
  margin-top: 10px;
  max-width: 265px;
  letter-spacing: 0.5px;

  @media screen and (max-width: 639px) {
    font-size: 14px;
    line-height: 22px;
    margin-top: 2px;
    max-width: 162px;
    letter-spacing: 0.5px;
  }
}
