.polaroid-container {
  position: relative;
  & .polaroid-wrapper {
    width: 430px;
    position: relative;
    @media screen and (max-width: 639px) {
      width: 210px;
    }

    & .polaroid {
      position: relative;
      width: 100%;
      min-height: 490px;
      transform-origin: center;
      animation: smoothSway 7s ease-in-out infinite;
      @media screen and (max-width: 639px) {
        min-height: 225px;
      }
      & .polaroid-frame,
      & .polaroid-photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }

      & .polaroid-frame {
        z-index: 2;
      }

      & .polaroid-photo {
        z-index: 1;
        width: 289px;
        position: absolute;
        top: 40px;
        left: 61px;

        @media screen and (max-width: 639px) {
          width: 141px;
          top: 20px;
          left: 30px;
        }
      }

      & .labels {
        &.two {
          position: relative;
          top: -5px;

          @media screen and (max-width: 639px) {
            top: -4px;

            & .polaroid-label,
            & .polaroid-label2 {
              font-size: 9px;
            }
          }
        }
        & .polaroid-label {
          width: 100%;
          z-index: 2;
          position: absolute;
          top: 367px;
          left: -4px;
          text-align: center;
          font-size: 27px;
          font-weight: 800;

          @media screen and (max-width: 639px) {
            top: 179px;
            font-size: 16px;
          }
        }
        & .polaroid-label2 {
          top: 391px;
          @media screen and (max-width: 639px) {
            top: 195px;
          }
        }
      }

      & .polaroid-label,
      & .polaroid-label2 {
        font-size: 27px;
      }
    }
  }
  &.polaroid-aynur {
    top: 17px;
    transform: rotate(-10deg);
    & .polaroid-wrapper {
      left: -170px;
      & .polaroid-photo {
        top: 50px;
      }
    }
    @media screen and (max-width: 639px) {
      top: 71px;
      & .polaroid-wrapper {
        left: -80px;
        & .polaroid-photo {
          top: 24px;
        }
      }
    }
  }

  &.polaroid-zilya {
    top: -385px;
    transform: rotate(10deg);

    & .polaroid-wrapper {
      left: 165px;
      & .polaroid {
        animation: smoothSway 7s ease-in-out infinite 0.7s;
      }
    }
    @media screen and (max-width: 639px) {
      top: -80px;
      & .polaroid-wrapper {
        left: 85px;
      }
    }
  }
  &.polaroid-ikeu {
    top: 40px;
    transform: rotate(-10deg);
    & .polaroid-wrapper {
      left: 0px;
      @media screen and (max-width: 639px) {
        width: 295px;
        .polaroid-photo {
          width: 200px;
          top: 33px;
          left: 42px;
        }
      }
      & .labels {
        & .polaroid-label {
          font-size: 18px;

          @media screen and (max-width: 639px) {
            width: 200px;
            top: 254px;
            left: 42px;
            font-size: 16px;
          }
        }
      }
    }
  }
  &.polaroid-bolgar {
    top: -20px;
    transform: rotate(-1deg);

    @media screen and (max-width: 639px) {
      top: 0px;
    }
    & .polaroid-wrapper {
      left: 0px;
      @media screen and (max-width: 639px) {
        width: 295px;
        .polaroid-photo {
          width: 200px;
          top: 33px;
          left: 42px;
        }
      }
      & .polaroid {
        animation: none;
        & .labels {
          & .polaroid-label,
          & .polaroid-label2 {
            font-size: 18px;

            @media screen and (max-width: 639px) {
              width: 200px;
              font-size: 12px;
            }
          }
          @media screen and (max-width: 639px) {
            & .polaroid-label {
              top: 253px;
              left: 42px;
            }
            & .polaroid-label2 {
              top: 270px;
              left: 42px;
            }
          }
        }
      }
    }
  }
  &.polaroid-anime {
    top: 20px;
    transform: rotate(7deg);

    @media screen and (max-width: 639px) {
      top: 44px;
      left: 16px;
      margin-bottom: 220px;
    }
    & .polaroid-wrapper {
      left: 0px;

      @media screen and (max-width: 639px) {
        width: 333px;
        .polaroid-photo {
          width: 230px;
          top: 33px;
          left: 42px;
        }
      }
      .polaroid {
        & .labels {
          & .polaroid-label,
          & .polaroid-label2 {
            font-size: 18px;

            @media screen and (max-width: 639px) {
              width: 200px;
              font-size: 16px;
            }
          }

          @media screen and (max-width: 639px) {
            & .polaroid-label {
              top: 280px;
              left: 62px;
            }
            & .polaroid-label2 {
              top: 302px;
              left: 60px;
            }
          }
        }
      }
    }
  }
}

@keyframes smoothSway {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}
