#music-toggle {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    top: 25px;
    right: 25px;
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #253759;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 23px;
    color: #253759;
    z-index: 2;

    img {
      width: 35px;
    }

    &:hover {
      background: rgba(141, 141, 141, 0.1);
    }

    @media screen and (max-width: 639px) {
      top: 16px;
      right: 16px;
      height: 36px;
      width: 36px;
      font-size: 20px;

      img {
        width: 22px;
      }
    }
  }
}
